Controls/DoubleSlider/Sample.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
Controls/DoubleSlider/Sample.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/Sample.xcscheme
Controls/DoubleSlider/Sample.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
